<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Skyline.DataMiner.Dev.Automation" version="10.2.0.1" targetFramework="net462" developmentDependency="true" />
  <package id="Skyline.DataMiner.Dev.Common" version="10.2.0.1" targetFramework="net462" developmentDependency="true" />
</packages>